.container
  .box
    if searchResults
      h2 Results

      table
        thead
          th Field
          th Value

        each field, index in searchResults
          tr
            td= index.charAt(0).toUpperCase() + index.slice(1)
            td= field
    else
      h2 All Vehicles

      table
        thead
          th VIN
          th Make
          th Model
          th Model Year
          th Value
          th Purchase Date

        each field in results
          tr
            td= field.vin
            td= field.make
            td= field.model
            td= field.modelYear
            td= field.purchaseValue
            td= new Date(field.purchaseDate).toDateString()